
BookStoreAdmin/.vs/BookStoreAdmin/FileContentIndex/f6d5f828-4c22-49c0-a81d-8097d8104d3b.vsidx
/BookStoreAdmin/.vs/BookStoreAdmin/FileContentIndex
/Book Store/.vs/Book Store/FileContentIndex
/Book Store/.vs
/Book Store/.vs/Book Store
/Book Store/.vs/Book Store/FileContentIndex
