
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="page-header">
    <div class="row">
        <div class="col-sm-12 mt-5">
            <h3 class="page-title mt-3">Dashboard</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active"></li>
            </ul>
        </div>
    </div>
</div>