body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffffff;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    padding: 10px 20px;
    align-items: center;
}


.logo a {
        text-decoration: none;
        align-items: center;
        margin-left: auto;
        text-decoration: none;
        color: #111111;
        font-weight: 300;
    }

        .logo a img {
            background-color: #1d5167;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: 34px auto;
            border-radius: 4px;
            float: left;
            height: 25px;
            margin-bottom: 8px;
            margin-right: 10px;
            padding: 10px;
            width: 25px;
        }

.search-bar {
    display: flex;
    align-items: center;
}

    .search-bar input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
    }

    .search-bar button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

.cart-login {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    left: auto;
    right: 0;
}

.item-space {
    align-items: center;
    height: 25px;
    width: 25px;
}

.cart {
    display: inline-block;
    align-items: center;
    margin-left: auto;
    text-decoration: none;
    color: #111111;
    font-weight: 300;
}

.login {
    display: inline-block;
    align-items: center;
    margin-left: auto;
    text-decoration: none;
    color: #111111;
    font-weight: bold;
}
